<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Paises y capitales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/mapa-mundi.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Country App</ion-card-subtitle>
        <ion-card-title>Guia de Paises</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Informacion importante de paises de europa</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Countrys</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Country Documentation</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Population</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
